# python cache
__pycache__/
*.pyc
*.json

# release zip files
releases/*.zip

# mac / thumbnails
**/.thumbs/

# =========================
# Ignore ONLY heavy terrain data
# =========================

# mars heavy assets
rover/sim/rover_envs/assets/terrains/mars/terrain1/**

# debug heavy assets
rover/sim/rover_envs/assets/terrains/debug/debug1/**

# =========================
# Keep terrain python configs tracked
# =========================
!rover/sim/rover_envs/assets/terrains/**.py
!rover/sim/rover_envs/assets/terrains/**/__init__.py
